#metacharset utf-8;

*{
  margin: 0px;
  padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;

}
header{
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}

header > h1{
  padding-top: 20px;
  font-variant: small-caps;
  
}

header a, footer a{
  color: white;
  text-decoration: none;
  font-weight: bolder;

}
header a:hover, footer a:hover{
  color: lightgray;
  text-decoration: underline;
}
main{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}
footer{
  color: white;
  background-color: black;
  text-align: center;
  padding: 3px;
}
section.normal{
  background-color: white;
  color: black;
}
section.img{
  background-color: rgb(22, 22, 22);
  color: white;
  
}
section.img > p{
  background-color: rgb(8, 7, 7);
  width: 380px;
  
}
section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 40px;
}
.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  